
<div id="divPrincipal">
    <div class="row">
        <div class="col-sm-1"  *ngFor="let periodo of arregloPeriodosMain">
            <div class="card divTarjeta">
                <div class="card-body">
                <h5 class="card-title"> {{ periodo.nombre }} </h5>
                <p class="card-text"> {{ periodo.anno }} </p>
                <div class="divBotones">
                    <a id="aImgEliminar">
                        <img src="../../../../../assets/icons/eliminar.png" id="imgAsignar" title="Eliminar asignacion" alt="Bootstrap" width="20" height="22">
                    </a>
                    <a id="aImg">
                        <img src="../../../../../assets/icons/asignar.png" id="imgAsignar" title="Asignar Curso" alt="Bootstrap" width="20" height="22">
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>