
<div class="divPrincipal">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner divCarrusel">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="../../../assets/icons/Carrusel1.jpg" class="d-block w-98 itemCarrusel" alt="Bootstrap" width="600" height="200">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../assets/icons/Carrusel2.jfif" class="d-block w-98 itemCarrusel" alt="Bootstrap" width="600" height="200">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../assets/icons/Carrusel3.jfif" class="d-block w-98 itemCarrusel" alt="Bootstrap" width="600" height="200">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../assets/icons/Carrusel4.jfif" class="d-block w-98 itemCarrusel" alt="Bootstrap" width="600" height="200">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../assets/icons/Carrusel5.jfif" class="d-block w-98 itemCarrusel" alt="Bootstrap" width="600" height="200">
            </div>
        </div>
    </div>
</div>