.divPrincipal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 95%;
}

.divCarrusel {
    text-align: center;
    background-color: #DBE2F1;
    border-radius: 10px;
}

.itemCarrusel {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}