
<div id="divPrincipal">
  <div class="row g-3 divBusqueda">
    <div class="col-auto">
      <filtrado [filtrosDe]="'Periodo'" (filtroSeleccionadoResponder)="filtrarPor($event)"></filtrado>
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Buscar periodo">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-info"> Buscar </button>
    </div>
  </div>

  <table class="table tbTablaConsulta">
    <thead>
      <tr>
        <th hidden="true" scope="col">Id</th>
        <th scope="col">Codigo</th>
        <th scope="col">Periodo</th>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha fin</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td hidden="true">1</td>
        <td>PDO0002</td>
        <td>2do</td>
        <td>03</td>
        <td>09</td>
        <td>
          <a data-bs-toggle="modal" (click)="cargarDatosModificar()" data-bs-target="#modalModificarPeriodo">
            <img src="../../../../assets/icons/modificar.png" id="imgModificar" title="Modificar" alt="Bootstrap" width="28" height="28">
          </a>
          <a data-bs-toggle="modal" data-bs-target="#modalEliminar">
            <img src="../../../../assets/icons/eliminar.png" id="imgEliminar" title="Eliminar" alt="Bootstrap" width="26" height="28">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="modalModificacionExitosa" tabindex="-1" aria-labelledby="modalEliminacionExitosa" aria-hidden="true">
  <modal-alertas [datosInputs]="dataModificacionExitosa"></modal-alertas>
</div>

<div class="modal fade" id="modalModificarPeriodo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Modal para modificar periodo" aria-hidden="true">
  <modal-modificar-periodo [datosModificar]="datosModificar" (cerrarModalModificar)="cerrarModalModificarPeriodo($event)"></modal-modificar-periodo>
</div>

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <modal-eliminar [objetoEliminar]="objetoEliminar" (eliminado)="eliminar($event)"></modal-eliminar>
</div>

<div class="modal fade" id="modalEliminacionExitosa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <modal-alertas [datosInputs]="dataEliminacionExitosa"></modal-alertas>
</div>

