
<div [ngClass]="divPrincipal">
    <form class="formularioRegistrar" [formGroup]="periodoForm" (ngSubmit)="registrar()">
        <div class="divCampos">
            <input type="number" formControlName="anno" [ngClass]="inputs" placeholder="Año"/>

            <label for="nombrePeriodo" class="labelRegistrar"> Nombre Periodo </label>
            <select id="nombrePeriodo" (ngModelChange)="cargarPeriodoModificado()" formControlName="nombre" [ngClass]="inputs">
                <option [value]="item" *ngFor="let item of nombresPeriodo">{{ item }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btnRegistrar" *ngIf="datosModificar?.tipoRegistro == 'r'"> Registrar </button>
    </form>
</div>

<div class="modal fade" id="modalRegistroExitoso" tabindex="-1" aria-labelledby="modal para registro exitoso" aria-hidden="true">
    <modal-alertas [datosInputs]="dataRegistroExitoso"></modal-alertas>
</div>