
<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content divPrincipal">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"> Eliminar </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../../../assets/icons/advertencia.png" alt="Bootstrap" width="30" height="32">
            <label class="lbEliminar">
                Seguro que desea eliminar {{objetoEliminar}}?
            </label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar </button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar()"> Eliminar </button>
        </div>
    </div>
</div>

