
<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content divPrincipal">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"> Modificar Periodo </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="datosModificar" class="modal-body">
            <registrar-periodo [datosModificar]="datosModificar" (periodoModificado)="cargarPeriodoModificado($event)"></registrar-periodo>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar </button>
            <button type="button" class="btn btn-primary" (click)="modificar()"> Modificar </button>
        </div>
    </div>
</div>