
<div id="divPrincipal">
    <div id="divMenu"></div>

    <div id="divLogin">
        <img src="../assets/icons/EscudoSeminario.png" width="100" height="120">
        <div class="formularioLogin">
            <div class="divCampos">
                <label for="tipoUsuario" class="labelLogin"> Tipo de Usuario </label>
                <select id="tipoUsuario" [(ngModel)]="tipoUsuarioSeleccionado" class="form-control inputLogin">
                    <option [value]="item" *ngFor="let item of tiposUsuario">{{item}}</option>
                </select>

                <label for="usuiario" class="labelLogin"> Usuario </label>
                <input type="text" id="usuiario" [(ngModel)]="usuario" class="form-control inputLogin" placeholder="Usuario"/>
            
                <label for="contrasenna" class="labelLogin"> Contraseña </label>
                <input type="password" id="contrasenna" (keypress)="entrar()" [(ngModel)]="contrasenna" class="form-control inputLogin" placeholder="Contraseña"/>
    
                <a href="" class="aOlvidoContraseña"> Olvido su contraeña? </a><br/>

                <button type="submit" (click)="entrar()" class="btn btn-primary btnIniciar"> Entrar </button>
            </div>
        </div>
    </div>
</div>
<!-- [(ngModel)]="tipoUsuarioSeleccionado" 
    [formGroup]="usuarioLoginForm"
    formControlName="contrasenna"
-->