<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content divPrincipal">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"> {{titulo}} </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../../../assets/icons/exito.png" *ngIf="tipoAlerta=='exito'" alt="Bootstrap" width="30" height="32">
            <img src="../../../assets/icons/fallido.png" *ngIf="tipoAlerta=='fallido'" alt="Bootstrap" width="30" height="32">
            <label class="lbMensaje">
                {{mensaje}}
            </label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"> Aceptar </button>
        </div>
    </div>
</div>