
.divPrincipalRegistrar {
    width: 35%;
    border: solid;
    border-color: #0cafe5;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #DEEEF7;
}

.formularioRegistrar {
    text-align: center;
    padding: 5px;
}

.divCampos {
    columns: 2;
}

.selectRegistrar {
    margin-top: 1px;
    text-align: center;
}

.inputRegistrar {
    text-align: center;
    margin-top: 10px;
}

.btnRegistrar {
    margin-top: 10px;
    width: 200px;
}

/* ---------------------------------------------------- Modificar ----------------------------------------------------  */

.divPrincipalModificar {
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    background-color: #DEEEF7;
}

.formularioModificar {
    text-align: center;
    padding: 2.5px;
}

.selectModificar {
    margin-top: 0.2px;
    text-align: center;
}

.inputModificar {
    text-align: center;
    margin-top: 5px;
}

.btnModificar {
    margin-top: 8px;
    margin-left: 5px;
    width: 100px;
}