
<div [ngClass]="divPrincipal">
    <form [ngClass]="formulario">
        <div class="divCampos">
            <div>
                <label for="tipoUsuario"> Tipo de Usuario </label>
                <select id="tipoUsuario" [ngClass]="selects">
                    <option [value]="tipo" *ngFor="let tipo of tiposUsuario">{{ tipo }}</option>
                </select>

                <input type="number" [ngClass]="inputLogin" placeholder="Documento"/>

                <input type="text"  [ngClass]="inputLogin" placeholder="Apellidos"/>

                <input type="text" [ngClass]="inputLogin" placeholder="Direccion"/>
                
                <input type="text" [ngClass]="inputLogin" placeholder="Contraseña"/>
            </div>
            <div>
                <label for="tipoDocumento"> Tipo de Documento </label>
                <select id="tipoDocumento" [ngClass]="selects">
                    <option [value]="tipo" *ngFor="let tipo of tiposDocumento">{{ tipo }}</option>
                </select>

                <input type="text" [ngClass]="inputLogin" placeholder="Nombres"/>

                <input type="number" [ngClass]="inputLogin" placeholder="Celular"/>

                <input type="number" [ngClass]="inputLogin" placeholder="Usuario"/>
                <br/>
                <br/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btnRegistrar" *ngIf="tipoRegistro == 'r'"> Registrar </button>
        <button type="submit" class="btn btn-secondary btnModificar" data-bs-dismiss="modal" *ngIf="tipoRegistro == 'm'"> Cancelar </button>
        <button type="submit" class="btn btn-primary btnModificar" *ngIf="tipoRegistro == 'm'" (click)="modificar()"> Modificar </button>
    </form>
</div>

<div class="modal fade" id="modalModificacionExitosa" tabindex="-1" aria-labelledby="modalEliminacionExitosa" aria-hidden="true">
    <modal-alertas [datosInputs]="dataModificacionExitosa"></modal-alertas>
</div>

