
<div [ngClass]="divPrincipal">
    <form [ngClass]="formulario" [formGroup]="usuarioForm" (ngSubmit)="registrar()">
        <div class="divCampos">
            <div>
                <label for="tipoUsuario"> Tipo de Usuario </label>
                <select id="tipoUsuario" [ngClass]="selects" formControlName="tipoUsuario">
                    <option [value]="tipo" *ngFor="let tipo of tiposUsuario">{{ tipo }}</option>
                </select>

                <input type="number" [ngClass]="inputLogin" formControlName="numeroDocumento" placeholder="Documento"/>

                <input type="text"  [ngClass]="inputLogin" formControlName="apellidos" placeholder="Apellidos"/>

                <input type="text" [ngClass]="inputLogin" formControlName="direccion" placeholder="Direccion"/>
                
                <input type="text" [ngClass]="inputLogin" formControlName="contrasenna"  *ngIf="datosModificar?.tipoRegistro == 'r'" placeholder="Contraseña"/>
            </div>
            <div>
                <label for="tipoDocumento"> Tipo de Documento </label>
                <select id="tipoDocumento" [ngClass]="selects" formControlName="tipoDocumento">
                    <option [value]="tipo" *ngFor="let tipo of tiposDocumento">{{ tipo }}</option>
                </select>

                <input type="text" [ngClass]="inputLogin" formControlName="nombres" placeholder="Nombres"/>

                <input type="tel" [ngClass]="inputLogin" formControlName="celular" placeholder="Celular"/>

                <input type="text" [ngClass]="inputLogin" formControlName="usuario" (ngModelChange)="cargarUsuarioModificar()" placeholder="Usuario"/>
                <br  *ngIf="datosModificar?.tipoRegistro == 'r'"/>
                <br  *ngIf="datosModificar?.tipoRegistro == 'r'"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btnRegistrar" *ngIf="datosModificar?.tipoRegistro == 'r'"> Registrar </button>
    </form>
</div>

<div class="modal fade" id="modalRegistroExitoso" tabindex="-1" aria-labelledby="modal para registro exitoso" aria-hidden="true">
    <modal-alertas [datosInputs]="dataRegistroExitoso"></modal-alertas>
</div>

